# https://editorconfig.org (matches isabelroses/dotfiles: this file exists so
# editors behave consistently; formatting itself is enforced by `nix fmt`).
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.nix]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = space
indent_size = 2

[Makefile,justfile]
indent_style = tab
